* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.gradient-custom {
  background: #6a11cb;

  background: -webkit-linear-gradient(
    to right,
    rgba(106, 17, 203, 1),
    rgba(37, 117, 252, 1)
  );

  background: linear-gradient(
    to right,
    rgba(106, 17, 203, 1),
    rgba(37, 117, 252, 1)
  );
}

.notes-page {
  width: 100%;
  /* min-height: 100vh; */
  min-height: 100%;
  color: whitesmoke;
}

.notes-page section {
  width: 100%;
  /* min-height: 100vh; */
  min-height: 100%;
  /* box-shadow: 0 0 5px rgb(7, 25, 63); */
  /* padding: 20px 0; */
}
.note-wrapper {
  max-width: 1920px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
  box-shadow: 0 0 5px rgb(7, 25, 63);
}

.note-wrapper .card {
  width: 300px;
  box-shadow: 0 0 5px rgb(7, 25, 63);
  background: rgb(7, 25, 63);
  padding: 10px;
  position: relative;
  color: #ddd;
  margin: 20px;
  margin-top: 35px;
  cursor: pointer;
}
.card-delete {
  position: absolute;
  top: 5px;
  right: 15px;
  font-weight: 900;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: white;
}
.card .card-title h5 {
  margin-right: 50px;
  margin-left: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.card .card-text {
  width: 100%;
  height: 150px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 7;
  overflow: hidden;
  margin: 10px 0;
  color: #fff9;
  padding: 0px 5px 0px;
}

.card-text h2 {
  font-size: 18px;
}
.card-text h3 {
  font-size: 15px;
}
.card-text p {
  font-size: 13px;
}

.card .card-date {
  text-align: right;
  color: wheat;
}
.card .card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 40px;
  letter-spacing: 2px;
  font-size: 14px;
}

.login-page span:hover {
  color: rgb(21, 23, 227);
  cursor: pointer;
}

.main-notes {
  flex-direction: row;
}

.navbar-logo {
  width: 40px;
  height: 40px;
  margin-right: 20px;
  /* margin-bottom: 5px; */
  border-radius: 5px;
}

/* Sidebar  */
.sidebar-preview {
  width: 20%;
  max-width: 250px;
  /* height: 100vh; */
  min-height: 100%;
  flex-direction: column;
  background-color: #f7f6f3;
}

.sidebar-header {
  display: flex;
  align-items: center;
  padding: 0px 15px 0px 15px;
  margin-bottom: 15px;
  background-color: #f0e4e4;
}

.sidebar-user-icon {
  text-transform: uppercase;
  background: rgba(55, 53, 47, 0.4);
  color: rgba(255, 255, 255, 0.9);
  display: table;
  border-radius: 3px;
  padding: 3px;
  font-size: 1.2rem;
  width: 25px;
  height: 18px;
  line-height: 1;
  text-align: center;
  margin-left: 10px;
  margin-right: 0px;
}

.sidebar-username {
  color: #37352f;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.1rem;
  font-weight: 600;
  flex: 1;
  width: 100%;
  height: 48px;
  padding: 10px 26px;
  padding-left: 8px;
}

.sidebar-titles {
  margin-top: 35px;
}

.sidebar-title {
  color: rgba(25, 23, 17, 0.6);
  padding: 5px 26px;
  font-weight: 500;
  font: "SF Pro Text";
  align-items: center;
}

.sidebar-title-highlighted {
  color: #37352f;
  padding: 5px 26px;
  font-weight: 500;
  font: "SF Pro Text";
  background-color: rgba(55, 53, 47, 0.08);
}

.sidebar-title:hover {
  background-color: rgba(55, 53, 47, 0.08);
  cursor: pointer;
}

.sidebar-title-image {
  height: 18px;
  width: 14px;
  margin-bottom: 5px;
  margin-right: 10px;
}

.sidebar-title-plus-image {
  height: 18px;
  width: 18px;
  margin-bottom: 5px;
  margin-right: 5px;
}

.sidebar-sharednotes-titles {
  margin-top: 70px;
  width: 100%;
}

.sidebar-sharednotes-title {
  color: rgba(25, 23, 17, 0.6);
  padding: 5px 26px;
  font-weight: 500;
  font: "SF Pro Text";
  align-items: center;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.sidebar-sharednotes-title-highlighted {
  color: #37352f;
  padding: 5px 26px;
  font-weight: 500;
  font: "SF Pro Text";
  background-color: rgba(55, 53, 47, 0.08);
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.sidebar-sharednote-title-parent {
  justify-content: space-between;
  display: flex;
}

.sidebar-sharenotes-input {
  padding: 0px 10px 0px;
  margin-bottom: 5px;
  margin-top: 8px;
}

.sidebar-sharednotes-delete {
  display: none;
}

.sidebar-sharednotes-title:hover .sidebar-sharednotes-delete {
  display: block;
}

.sidebar-sharednotes-title-highlighted:hover .sidebar-sharednotes-delete {
  display: block;
}

/* editnote */
.editnote {
  width: 100%;
  height: 100%;
}

.editnote-scrollable {
  max-height: calc(100vh - 119px);
  overflow-y: auto;
  overflow-y: scroll;
}

.editnote h2 {
  font-size: 1.7rem;
  padding: 4px 5px 4px;
  color: rgb(55, 53, 47);
}
.editnote h3 {
  font-size: 1.35rem;
  padding: 2px 5px 2px;
  color: rgb(55, 53, 47);
}
.editnote p {
  font-size: 16px;
  padding: 0px 5px 0px;
  color: rgb(55, 53, 47);
  font-weight: 450;
}

.editnote .editnote-preview {
  display: flex;
  flex-direction: column;
  padding: 10px 48px 32px 48px;
  flex-grow: 1;
  width: 100%;
}

.editnote-preview .editnote-title {
  border: none;
  outline: none;
  justify-content: center;
  width: 70%;
  font-size: 38px;
  font-weight: 700;
  /* margin-bottom: 20px; */
  color: #0f2e53;
  font: san-serif;
}

.editnote-header {
  margin-bottom: 20px;
  width: 100%;
  height: 100%;
  padding-left: 100px;
  align-items: center;
  display: flex;
}

.editnote-content:focus {
  background: #f5f6fb;
}

.editnote-dropdown-parent {
  margin-top: 8px;
  display: inline;
}

.editnote-dropdown-plus-icon {
  height: 20px;
  width: 20px;
  margin-bottom: 5px;
  margin-right: 5px;
}

.editnote-dropdown-content {
  background-color: rgb(255, 255, 255);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px,
    rgba(15, 15, 15, 0.1) 0px 3px 6px 0px,
    rgba(15, 15, 15, 0.2) 0px 9px 24px 0px;
  box-sizing: border-box color rgb(55, 53, 47);
  display: block;
  font-family: san-fran, Helvetica, sans-serif;
  font-size: 14px;
  max-height: 270px;
  min-width: 180px;
  opacity: 1;
  overflow-y: scroll;
  padding-bottom: 6px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 6px;
  position: absolute;
  width: 325px;
  z-index: 10;
}

.editnote-dropdown-content a {
  align-items: center;
  display: flex;
  cursor: pointer;
  padding: 6px;
}

.editnote-dropdown-content a:hover {
  background-color: rgba(55, 53, 47, 0.08);
}

.editnote-dropdown-icon {
  height: 50;
  width: 50;
  border-radius: 3px;
  box-shadow: rgb(15 15 15 / 10%) 0px 0px 0px 1px;
  cursor: pointer;
  margin-left: 5px;
}

.editnote-dropdown-vis {
  border-radius: 3px;
  box-shadow: rgb(15 15 15 / 10%) 0px 0px 0px 1px;
  cursor: pointer;
  margin-left: 5px;
  font-size: 22px;
  font-weight: 700;
  color: rgba(25, 23, 17, 0.6);
  padding: 10px;
}

.editnote-dropdown-text {
  display: block;
  margin-left: 12px;
}

.editnote-dropdown-head {
  color: #37352f;
  font-size: 15px;
  padding: 0px;
  margin: 0px;
}

.editnote-dropdown-subhead {
  color: rgba(55, 53, 47, 0.6);
  font-size: 13px;
  padding: 0px;
  margin: 0px;
  margin-top: 1px;
}

.editnote-content-parent {
  width: 100%;
  padding-left: 100px;
  padding-right: 100px;
}
.editnote-content {
  width: 100%;
  background-color: #fafafa;
  border-radius: 8px;
  padding: 10px 10px 10px 10px;
  /* overflow-y: scroll; */
  /* max-height: 700px; */
  min-height: 650px;
}
.editnote-content-pagelink-parent {
  color: #37352f;
  padding: 2px 10px 2px 10px;
  display: flex;
  cursor: pointer;
  font-weight: 500;
  font: "SF Pro Text";
  margin-left: 20px;
  margin-right: 20px;
}
.editnote-content-pagelink-parent:hover {
  background-color: rgba(55, 53, 47, 0.08);
}

.editnote-content-pagelink {
  width: 20rem;
  display: flex;
}

.editnote-content-pagelink img {
  width: 14px;
  height: 18px;
  padding-top: 0px;
  margin-top: 3px;
  margin-right: 8px;
}

.edinote-content-pagelink-delete {
  display: none;
  margin-right: 10px;
}

.editnote-content-pagelink-parent:hover .edinote-content-pagelink-delete {
  display: block;
}

.editnote-content-textbox {
  border: none;
  outline: none;
  justify-content: center;
  width: 100%;
  background-color: #fafafa;
  padding: 2em;
  border-radius: 8px;
  font-size: 16px;
  font: "SF Pro Text";
  font-weight: 470;
}

.editnote-topbar {
  width: 100%;
  height: 45px;
  display: flex;
  flex-direction: row;
  padding: 12px 20px 12px 20px;
  align-items: center;
}

.editnote-topbar span {
  color: #37352f;
  margin: 0px 5px 0px 5px;
}

.editnote-clickable {
  color: #37352f;
  padding: 0px 4px 0px 4px;
  align-items: center;
  border-radius: 6px;
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: 470;
}

.editnote-clickable:hover {
  background-color: rgba(55, 53, 47, 0.08);
}

/* EditBlock */
.EditBlock {
  margin: 2px 25px 0px 25px;
  /* padding: 5px; */
  background: #fafafa;
  border-radius: 0.25rem;
  color: #0f2e53;
}
.EditBlock:hover {
  background: #e9e7e7;
}
.EditBlock:focus {
  background: #e9ebfa;
}
