* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.gradient-custom {
  background: #6a11cb;

  background: -webkit-linear-gradient(
    to right,
    rgba(106, 17, 203, 1),
    rgba(37, 117, 252, 1)
  );

  background: linear-gradient(
    to right,
    rgba(106, 17, 203, 1),
    rgba(37, 117, 252, 1)
  );
}

.notes-page {
  width: 100%;
  min-height: 100vh;
  color: whitesmoke;
}

.notes-page section {
  width: 100%;
  min-height: 100vh;
  /* box-shadow: 0 0 5px rgb(7, 25, 63); */
  /* padding: 20px 0; */
}
.note-wrapper {
  max-width: 1920px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
  box-shadow: 0 0 5px rgb(7, 25, 63);
}

.note-wrapper .card {
  width: 300px;
  box-shadow: 0 0 5px rgb(7, 25, 63);
  background: rgb(7, 25, 63);
  padding: 10px;
  position: relative;
  color: #ddd;
  margin: 20px;
  margin-top: 35px;
  cursor: pointer;
}
.card .card-delete {
  position: absolute;
  top: 0;
  right: 10px;
  font-weight: 900;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: white;
}
.card .card-title h5 {
  margin-right: 50px;
  margin-left: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.card .card-text {
  width: 100%;
  height: 150px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 7;
  overflow: hidden;
  margin: 10px 0;
  color: #fff9;
}
.card .card-date {
  text-align: right;
  color: wheat;
}
.card .card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 40px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
}

.login-page span:hover {
  color: rgb(19, 19, 231);
  cursor: pointer;
}

.create-note {
  max-width: 1920px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
  text-align: center;
}

.create-note h2 {
  color: black;
  margin: 20px;
}

.create-note .create-notes-preview {
  display: flex;
  flex-direction: column;
  padding: 2em 3em;
  flex-grow: 1;
  width: 100%;
}

.create-notes-preview .create-notes-title {
  border: none;
  outline: none;
  justify-content: center;
  width: 65%;
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 20px;
}

.create-notes-preview .create-notes-body {
  border: none;
  outline: none;
  justify-content: center;
  width: 65%;
}

.main-notes {
  flex-direction: row;
}

/* Sidebar  */
.sidebar-preview {
  width: 20%;
  max-width: 250px;
  height: 100vh;
  flex-direction: column;
  background-color: #f7f6f3;
}

.sidebar-header {
  display: flex;
  align-items: center;
  padding: 0px 15px 0px 15px;
  margin-bottom: 15px;
}

.sidebar-header:hover {
  background-color: #f0e4e4;
}

.sidebar-user-icon {
  text-transform: uppercase;
  background: rgba(55, 53, 47, 0.4);
  color: rgba(255, 255, 255, 0.9);
  display: table;
  border-radius: 3px;
  padding: 3px;
  font-size: 1.2rem;
  width: 25px;
  height: 18px;
  line-height: 1;
  text-align: center;
  margin-left: 10px;
  margin-right: 0px;
}

.sidebar-username {
  color: #37352f;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.1rem;
  font-weight: 600;
  flex: 1;
  width: 100%;
  height: 48px;
  padding: 10px 26px;
  padding-left: 8px;
}

.sidebar-titles {
  margin-top: 35px;
}

.sidebar-title {
  color: rgba(25, 23, 17, 0.6);
  padding: 5px 26px;
  font-weight: 500;
  font: "SF Pro Text";
  align-items: center;
}

.sidebar-title-highlighted {
  color: #37352f;
  padding: 5px 26px;
  font-weight: 500;
  font: "SF Pro Text";
  background-color: rgba(55, 53, 47, 0.08);
}

.sidebar-title:hover {
  background-color: rgba(55, 53, 47, 0.08);
  cursor: pointer;
}

.sidebar-title-image {
  height: 18px;
  width: 14px;
  margin-bottom: 5px;
  margin-right: 10px;
}

.sidebar-title-plus-image {
  height: 18px;
  width: 18px;
  margin-bottom: 5px;
  margin-right: 5px;
}

/* editnote */
.editnote {
  width: 100%;
  height: 100%;
  /* display: flex;
  flex-direction: column;
  flex-wrap: wrap; */
  /* justify-content: space-around;
  text-align: center; */
}

.editnote h2 {
  color: black;
  margin: 20px;
}

.editnote .editnote-preview {
  display: flex;
  flex-direction: column;
  padding: 2em 3em;
  flex-grow: 1;
  width: 100%;
}

.editnote-preview .editnote-title {
  border: none;
  outline: none;
  justify-content: center;
  width: 70%;
  font-size: 38px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #0f2e53;
  font: san-serif;
}

.editnote-preview .editnote-content {
  border: none;
  outline: none;
  justify-content: center;
  width: 70%;
  background-color: #fafafa;
  padding: 2em;
  border-radius: 8px;
  font-size: 16px;
  font: san-serif;
  font-weight: 400;
}

.editnote-content:focus {
  background: #f5f6fb;
}
